*{
	background-color: #ffcccc;
}

body {
	width: 850px;
	margin: auto;
	font-size: 100%;
}

body *{
	background-color: #ffffff;
}

.topheader img{
	width: 100%;
	margin: 0px;
	border-bottom: solid 4px black;
}

#home img{
	width: 100%;
}

.nav ul ul {
	display: none;
}

.nav ul{
	display: table;
	width: 810px;
	list-style: none;
	position: relative;
	display: inline-block;
	border-bottom: solid 4px black;
	margin: 0px;
}

.nav ul li {
	display:table-cell;
	float: left;
	text-align: center;
	font-size: 1.25em;
	font-family: "Book Antiqua", Palatino, serif;
	width:23.2%;
	margin: 0px;
	}

.nav ul li a{
	padding: 5px 10px 5px 10px;
	display: inline-block;
	color: #757575;
	text-decoration: none;
	border-collapse: collapse;
	border-spacing: 0px;
}

.nav ul li:hover > ul {
	display:block;
	margin: 0px;
	padding: 0px;
	clear: both;
}

.nav ul li:hover {
	color: #ff00ff;
	font-weight: bold;
	
}

.nav ul li:hover a {
	color: #ff00ff;
	font-weight: bold;
	/*font-size: 1.25em;
	font-family: "Book Antiqua", Palatino, serif;*/
}

.nav ul ul {
	position: absolute;
	/*width: 25px;*/
	list-style: none;
	border-bottom: none;
	margin: 0px;
	padding: 0px;
	font-size: .7em;
	font-family: "Book Antiqua", Palatino, serif;
	color: #000000;
	background-color: #ff00ff;
	clear: both;
	z-index: 1;
}

.nav ul ul li {
	position: absolute;
	text-align: center;
	font-size: 1.25em;
	font-family: "Book Antiqua", Palatino, serif;
}

/*.nav ul ul li a {
	padding: 0px;
	color: #fff;
}

.nav ul ul li a:hover {
	color: #ff00ff;
	font-weight: bold;
}*/

#facade img {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}

span{
	color: #ff00ff;
	font-weight: bold;
}

.about {
	display: table;
	width: 100%;
	margin-right: auto;
	margin-bottom: 60px;
}

.about h2{
	text-align: center;
}

.about td img {
	display: table-cell;
	width: 240px;
	height: 320px;
	}

.about td{
	display:table-cell;
	width: 65%;
	padding:0px 0px 10px 20px;
}

.poetry h2{
	padding-left: 35px;
}

.poetry h3{
	padding-top: 30px;
	text-align: center;
}

.poetry p{
	text-align: center;
}

.poetry h5{
	text-align: center;
	padding: 40px 0px;
}

.poetry p span{
	font-style: italic;
	font-weight: normal;
	color: #000000;
}

.facade{
	display: table;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 60px;
}

.facade td img {
	display: table-cell;
	width: 300px;
	}

.facade td{
	display:table-cell;
	width: 20%;
	padding:0px 10px;
}

.facade span img{
	width: 400px;
}

.windows table{
	display: table;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.windows td{
	display: table-cell;
	width: 33%;
	padding: 15px 15px;
}

.windows td img{
	display: table cell;
	width: 250px;
	height: 333px;
}

.awakening td{
	display: table-cell;
	width: 67%;
	padding: 15px 15px 15px 15px;

}

.awakening td>img{
	display: table-cell;
	width: 520px;
	margin-left: 8px;
}

.awakening td div img{
	display: table-cell;
	float: left;
	width: 360px;
	padding-top: 50px;
}

.awakening span img{
	width: 240px;
	margin-right: -29px;
}

.awakening td div span img{
	width: 200px;
}

.quotes h1{
	text-align: center;
}

.quotes p{
	margin: 0px 50px;
	margin-bottom: 45px;
}

.quotes img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 30px;
}

.contact img {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact p{
	text-align: center;
}

#footer{
	background-color: #000000;
	color: #ffffff;
}

#footer h4{
	text-align: center;
	background-color: #000000;
}